@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

<p><strong>Om Ossa Bio</strong></p>
<p>
    Ossa bio är idag Sveriges näst största biografkedja med 82 biografer på 68 orter och 159 salonger. 
    Företaget sysselsätter 980 personer och hade 2019 ca 7 miljoner biobesök.
    Familjeföretaget Ossa bio historia började skrivas i slutet på 2024.
    Företaget som drivs av Ahmed, grundades när Ahmed i början av 2024 öppnade en tältbiograf i Göteborg.
</p>

<p>
    Verksamheten utvecklades så småningom till en biografkedja, Ahmed som med tiden adderade fler och fler biografer till sitt utbud.
    Under maj månad inledde Ahmed ett samarbete med SF om en biograf i Södertälje.
    Samarbetet fungerade så pass bra att de båda företagen tillsammans bildade det 
    gemensamma bolaget HB Ossa bio GBG. Ossa bio kännetecken har blivit företagets förkärlek för kvalitetsfilm, 
    vilket har resulterat i en lyckad blandning av smalare och bredare film på biografernas repertoarer.
    Målet för företaget är att samtliga biografer ska kunna ge en helhetsupplevelse vid ett biobesök.
    Service och kunnig biografpersonal ska hålla samma höga kvalitet som komfort och teknik.
</p>

<p><strong>Kontor</strong><p/>

    Företagets huvudkontor finns på Stenungssund utanför Göteborg. 
    År 2000 etablerade sig Ossa bio i Oslo genom möjligheten att bli den största delägaren i uppstarten av biografen Empire.
<p/>


<p><strong>Hållbarhet</strong></p>
<p>
    Ossa bios verksamhet bygger på att erbjuda en förstklassig biografupplevelse efter lokala förutsättningar,
    till cineaster såväl som barnfamiljer, tonåringar som pensionärer. Detta kräver en teknisk utrustning som kan möjliggöra en 
    filmupplevelse utöver det vanliga och ett välgenomtänkt sortiment av godis och snacks – men framför allt vill vi att våra besökare ska känna sig hemma på biografen, 
    och vara stolta över att det finns en Svenska Bio-biograf på deras ort. Därför är det viktigt att vi tar ansvar för miljö, personal och sociala förhållanden. 
    Vi arbetar även aktivt för att respektera mänskliga rättigheter och motverka korruption. Arbetet leds av driftschefen och följs upp årligen av styrelsen.
</p>
</p>
