@model MvcMovie.Models.Booking

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking</h1>

<h4>Movie</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Booking" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" />
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label for="MovieId" class="control-label">Select a Movie</label>
                <select asp-for="MovieId" class="form-control" asp-items="@(ViewData["Movies"] as SelectList)">
                    <option value="">-- Select a Movie --</option>
                </select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SalonId" class="control-label">Select a Salon</label>
                <select asp-for="SalonId" class="form-control" asp-items="@(ViewData["Salons"] as SelectList)">
                    <option value="">-- Select a Salons --</option>
                </select>
                <span asp-validation-for="SalonId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeatNr" class="control-label">Select a Seat</label>
                <select asp-for="SeatNr" class="form-control" asp-items="@(ViewData["AvailableSeats"] as SelectList)">
                    <option value="">-- Select a Seat --</option>
                </select>
                <span asp-validation-for="SeatNr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VisitorName" class="control-label">Your Name</label>
                <input asp-for="VisitorName" class="form-control" placeholder="Enter your name" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VisitorEmail" class="control-label">Your Email</label>
                <input asp-for="VisitorEmail" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="VisitorEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Book Seat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}