@model MvcMovie.Models.Booking

<h2>Booking Confirmation</h2>
<p>Thank you for your booking!</p>
<p><strong>Booking Number:</strong> @Model.BookingNr</p>
<p><strong>Seat:</strong> @Model.SeatNr</p>
<p><strong>Salon:</strong> @Model.Salons</p>